*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}

body{
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0,0,0)),url(images/background.jpg);
}
.container{
 
    background-position: center;
    background-size: cover;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
   
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 40px;
    text-decoration: none;
}
span{
  color: #000;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;

}
nav ul li a{
  color: #000000;  
}
.login{
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
}
.btn{
    background: white;
    color: black;
    border-radius: 6px;
    padding: 9px 25px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 18px;
}
.content{
    margin-top: 10%;
    max-width: 600px;
    
}
.content h2{
    font-size: 60px;
}
.contet p {
    margin-top: 10px;
    line-height: 25px;
}
a{
    color: #fff;
}
.link{
    margin-top: 30px;
}
.hire{
    color: #000;
    text-decoration: none;
    background: #fff;
    padding: 9px 25px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5s;
}
.link.hire:hover{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    margin-top: 40px;
  }
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #ffff;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #000;
  }
  footer{
    display:flex;
    background-color: #303245;
    color: #979ab5;
    bottom: 0;
    left: 0;
    right: 0;
   
    height: 50px;
    width: 100%;
    justify-content:center;
       align-items:center;
}
  